In [2]:
import numpy as np

## Работа с Numpy

##### Задание 1

In [3]:
a = np.array([[1,2,3,3,1],[6,8,11,10,7]])
a = a.T
a_mean = a.mean(axis=0)
a_mean

array([2. , 8.4])

##### Задание 2

In [4]:
a_centered = a - a_mean
a_centered

array([[-1. , -2.4],
       [ 0. , -0.4],
       [ 1. ,  2.6],
       [ 1. ,  1.6],
       [-1. , -1.4]])

##### Задание 3

In [5]:
a_centered_sp = np.dot(a_centered[0:,0], a_centered[0:, 1]) / (a_centered[0:,0].size -1)
a_centered_sp

2.0

##### Задание 4

In [6]:
#проверка полученного результата другим способом
a_centered_sp == np.cov(a.T)[0,1]

True

## Работа с Pandas

##### Задание 1

In [7]:
import pandas as pd
# создание dataframe с авторами и dataframe c книгами и их ценой
authors_dc = {"author_id": [1,2,3],
              "author_name": ["Тургенев","Чехов","Островский"]              
             }
authors = pd.DataFrame(authors_dc)
book_dc = {"author_id": [1,1,1,2,2,3,3],
           "book_title": ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий',
                          'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
           "price": [450,300,350,500,450,370,290]
          }
books = pd.DataFrame(book_dc)

##### Задание 2

In [24]:
authors_price = pd.merge(authors, books, on="author_id", how="inner")
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

##### Задание 3

In [25]:
top5 = authors_price.sort_values(by="price", ascending=False).head(5)  # пять самых дорогих книг
top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

In [29]:
top5_otherway = authors_price.nlargest(5,"price") # пять самых дорогих книг
top5_otherway

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

##### Задание 4

In [40]:
authors_stat = authors_price.groupby("author_name")["price"].agg(price_max="max", price_min="min", price_mean="mean")
authors_stat # группировка по имени автора и агрегация цены max, min, mean

             price_max  price_min  price_mean
author_name
Островский         370        290  330.000000
Тургенев           450        300  366.666667
Чехов              500        450  475.000000

##### Задание 5

In [49]:
authors_price["cover"] = ["твердая", "мягкая", "мягкая", "твердая", "твердая", "мягкая", "мягкая"]
authors_price
book_info = authors_price.pivot_table(values=["price"],
                                       index=["author_name"],
                                       columns=["cover"],
                                       aggfunc=np.sum,
                                       fill_value=0)
book_info # pivot для df authors_price с группировкой по автору и типу обложек

             price
cover       мягкая твердая
author_name
Островский     660       0
Тургенев       650     450
Чехов            0     950

In [57]:
# сохранение и чтение df в файли и из файла
book_info.to_pickle("./book_info.pkl")
book_info2 = pd.read_pickle("./book_info.pkl")

print(f"\033[1mИсходный dataframe:\033[0m\n\n{book_info}\n\n\033[1mПрочитанный из файла dataframe:\033[0m\n\n{book_info2}")

Исходный dataframe:

             price
cover       мягкая твердая
author_name
Островский     660       0
Тургенев       650     450
Чехов            0     950

Прочитанный из файла dataframe:

             price
cover       мягкая твердая
author_name
Островский     660       0
Тургенев       650     450
Чехов            0     950